<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>404 Error</title>

	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<div></div>
				<h1>404</h1>
			</div>
			<h2>Page not found</h2>
			<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
			<a href="/">home page</a>
		</div>
	</div>
	<footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>contact us:</span><br>
              Akshat Gokulka <br>
              akshat.gokulka@gmail.com<br>
              Amit Chakraborti<br>
              amit.chakraborti09@gmail.com<br>
              Harsit Daga<br>
              harsitdaga20@gmail.com
              <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              Chemical Engineering <br>
              Jadavpur University
              <p>* Provide us your location.</p>
              <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
              <p>"The best application for hospital services"</p>
              <p>"Amazing sevices with home like care!"</p>
            </section>
          </div>
          <div class="text-center">&copy; Copyright Health Care 2020</div>
        </div>
      </footer>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
