<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/admin/hospital">
        <div class="form-group">
          <label for="hospitalemail">Email address</label>
          <input type="email" class="form-control" id="hospitalemail" name="hospitalemail" placeholder="name@example.com" required>
        </div>
            <div class="form-group">
              <label for="hospitalname">Name of hospital</label>
              <input type="text" class="form-control" name="nameOfHospital" id="hospitalname" placeholder="Hospital name" required>
            </div>
            <input type="number" name="lati" hidden>
            <input type="number" name="longi" hidden>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-secondary" onclick="getLocation()" >Use current location as address</button>
              <button type="button" class="btn btn-secondary">Enter locality</button>
            </div>
            <button type="submit" class="btn btn-primary">Add hospital</button>
      </form>
      <script>
      // document.getElementsByName("lati").value=0;
      // document.getElementsByName("longi").value=0;
      </script>
      <script src="/js/admin.js"></script>
</body>
</html>