<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Covid Care Application</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">  
        <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <nav id="header-nav" class="navbar navbar-default">
              <div class="container">
                <div class="navbar-header">
                  <a href="index.html" class="pull-left visible-md visible-lg">
                    <div id="logo-img" alt="Logo image"></div>
                  </a>
        
                  <div class="navbar-brand">
                    <a href="index.html"><h1>Covid Care For You</h1></a>
                  </div>
                </div>
                
                <div id="collapsable-nav" class="collapse navbar-collapse">
                   <ul id="nav-list" class="nav navbar-nav navbar-right">
                    <li id="navHomeButton" class="visible-xs active">
                      <a href="index.html">
                        <span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li id="navMenuButton">
                      <a href="/" >
                        <span class="glyphicon glyphicon-log-out"></span><br class="hidden-xs">Log Out</a>
                    </li>
                  </ul><!-- #nav-list -->
                </div><!-- .collapse .navbar-collapse -->
              </div><!-- .container -->
            </nav><!-- #header-nav -->
        </header>
        <div id="main-content" class="container">
            <h1 id="head1">Welcome, <%=name%>, choose your role!</h1>
            <div class="row">
                  <div class="section">
                     <h2 class="doctor"> Doctor </h2>
                     <p>Join us to help patient in this pandemic situation. Give your valuable time for patient in need.</p>
                     <span style="Color:#990000">What to do?</span>
                   <ul>
                       <li>We need your speciality.</li>
                       <li>Your phone no. to contact you.</li>
                       <li>Your valuable timing for patient in need.</li>
                   </ul>
                     <button class="center">Join Us</button>
                  </div>
                 <div class="section"> 
                    <h2 class="patient">Patient</h2>
                    <p>Click here to find nearby hospital with vacant beds. And book it here.</p>
                    <span style="Color:#990000">What to do?</span>
                   <ul>
                       <li>Share your location.</li>
                       <li>Select the specialist needed</li>
                       <li>Pay for the bed for first 24-hours.</li>
                   </ul>
                    <button class="center"><a href="/new-user/patient">BOOK NOW</a></button>
                 </div>
                 <div class="section">
                    <h2 class="patient-helper">Patient Helper</h2>
                    <p>Do you fear to go in hospital in this pandemic situation. Check for doctor available according to speciality you want. Book if available.</p>
                    <button class="center">FIND HERE</button>
                 </div>

                <div class="section">
                   <h2 class="plasma-donor">Plasma Donor</h2>
                   <p>Kindly take out two minutes to fill the form and asses if you are eligible to donate your priceless plasma for saving a life.</p>
                   <span style="Color:#990000">Am I eligible donor?</span>
                   <ul>
                       <li>I was a COVID Positive patient.</li>
                       <li>I am now negative after infection</li>
                       <li>I have been cured for 14 days</li>
                       <li>I am healthy and feeling excited to donate plasma.</li>
                       <li>I am between 18-60 years of age.</li>
                       <li>Kindly check other rules for plasma donation.</li>
                   </ul>
                   <button class="center"><a href="/new-user/donor">Register Here</a></button>
                </div>
            </div>
        </div>
    <footer class="panel-footer">
        <div class="container">
          <div class="row">
            <section id="hours" class="col-sm-4">
              <span>contact us:</span><br>
              Akshat Gokulka <br>
              akshat.gokulka@gmail.com<br>
              Amit Chakraborty<br>
              amit.chakraborty09@gmail.com<br>
              Harsit Daga<br>
              harsitdaga20@gmail.com
              <hr class="visible-xs">
            </section>
            <section id="address" class="col-sm-4">
              <span>Address:</span><br>
              Chemical Engineering <br>
              Jadavpur University
              <p>* Provide us your location.</p>
              <hr class="visible-xs">
            </section>
            <section id="testimonials" class="col-sm-4">
              <p>"The best application for hospital services"</p>
              <p>"Amazing sevices with home like care!"</p>
            </section>
          </div>
          <div class="text-center">&copy; Copyright Health Care 2020</div>
        </div>
      </footer>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    </body>
</html>