<%-include('partials/header')-%>
<link rel="stylesheet" href="/css/styles2.css">
<title>Welcome</title>
</head>
<body>
    <br>
    <div style="text-align: center; font-weight: bold; font-size: xx-large;">
       Welcome <%= name %>
    </div>
    <br>
    <div class="dropdown "style="text-align: center; font-weight: bold; font-size: xx-large;">
        I am a,
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Select type
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Doctor</a>
          <a class="dropdown-item" href="/new-user/patient">Patient</a>
          <a class="dropdown-item" href="#">Patient-Helper</a>
          <a class="dropdown-item" href="#">Plasma Donor</a>
        </div>
      </div>
    
</body>
</html>